@using Microsoft.AspNetCore.Components.Authorization

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>
                    <p> Giriş yapiliyor... </p>
                </Authorizing>
                <NotAuthorized>
                    <p> Bu sayfayi gormek icin yetkiniz yoktur.. </p>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@* // Kullanici giris yaptiysa gorecek
<Authorized>
<p>Authorized</p>
</Authorized>

// Kullanici giris yapmadiysa gorecek
<NotAuthorized>
<p>Not Authorized</p>
</NotAuthorized>
*@
