@page "/accounts"
@using PasswordStorageApp.Domain.Dtos
@inject HttpClient HttpClient
@inject DialogService DialogService
@inject IToastService ToastService

<PageTitle>Hesaplar</PageTitle>


@if (accounts is null)
{
    <Loading/>
}
else
{
    <RadzenCard Variant="Variant.Filled">

        <h3 class="text-center">Hesaplar</h3>

        <RadzenButton Click="HandleAddClickAsync" ButtonStyle="ButtonStyle.Primary" Text="Ekle" Style="margin-bottom: 1rem;" />


        <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Simple" AllowSorting="true" PageSize="10" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                        Data="@accounts" ColumnWidth="300px">
            <Columns>
                <RadzenDataGridColumn Property="@nameof(AccountGetAllDto.Id)" Title="ID" TextAlign="TextAlign.Center" />
                <RadzenDataGridColumn Property="@nameof(AccountGetAllDto.Username)" Title="UserName" TextAlign="TextAlign.Center" />
                <RadzenDataGridColumn Property="@nameof(AccountGetAllDto.Password)" Title="Password" TextAlign="TextAlign.Center" />
                <RadzenDataGridColumn Property="@nameof(AccountGetAllDto.Type)" Title="Type" TextAlign="TextAlign.Center" />
                <RadzenDataGridColumn Property="@nameof(AccountGetAllDto.CreatedOn)" Title="Created On" TextAlign="TextAlign.Center" />

                <RadzenDataGridColumn Title="Actions" Frozen="true" Sortable="false" Filterable="false" Width="120px" TextAlign="TextAlign.Center">
                    <Template Context="data">
                        <RadzenStack Orientation="Orientation.Horizontal">
                            <RadzenButton ButtonStyle="ButtonStyle.Info" Icon="edit" Click="@(() => HandleUpdateClickAsync(data.Id))" />
                            <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Click="@(() => HandleRemoveClickAsync(data))" />
                        </RadzenStack>
                    </Template>
                </RadzenDataGridColumn>

            </Columns>
        </RadzenDataGrid>
    </RadzenCard>

}



@code
{
    private IEnumerable<AccountGetAllDto> accounts = null;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        accounts = await HttpClient.GetFromJsonAsync<IEnumerable<AccountGetAllDto>>("Accounts");
    }

    private async Task HandleAddClickAsync()
    {
        var result = await DialogService.OpenAsync<AccountsAdd>($"Hesap Ekle",
             new Dictionary<string, object>() { { "IsDialog", true } },
             new DialogOptions()
                 {
                     Resizable = true,
                     Draggable = true,
                     Width = "700px",
                     Height = "512px",
                 });

        if (result is not null && (bool)result)
        {
            accounts = await HttpClient.GetFromJsonAsync<IEnumerable<AccountGetAllDto>>("Accounts");
        }
    }
    private async Task HandleUpdateClickAsync(Guid id)
    {
        var result = await DialogService.OpenAsync<AccountsUpdate>($"Hesap Guncelle",
            new Dictionary<string, object>() { { "IsDialog", true }, { "Id", id } },
            new DialogOptions()
            {
                Resizable = true,
                Draggable = true,
                Width = "700px",
                Height = "512px",
            });

        if (result is not null && (bool)result)
        {
            accounts = await HttpClient.GetFromJsonAsync<IEnumerable<AccountGetAllDto>>("Accounts");
        }
    }

    private async Task HandleRemoveClickAsync(AccountGetAllDto account)
    {
        CancellationTokenSource cts = new CancellationTokenSource();

        var result = await DialogService
            .Confirm("Silmek istediginize emin misiniz?", "Secili Kayit Siliniyor", new ConfirmOptions() { OkButtonText = "Evet", CancelButtonText = "Hayir" });


        if (result is not null && (bool)result)
        {
            var response = await HttpClient.DeleteAsync($"Accounts/{account.Id}", cts.Token);

            if (response.IsSuccessStatusCode)
            {
                accounts = accounts.Where(ac => ac.Id != account.Id);

                // await InvokeAsync(StateHasChanged);

                ToastService.Success("Secili kayit basariyla silindi.","Kayit Silindi" );
            }
            else
            {
                // Handle error
                Console.WriteLine("There was an unexpected error occured.");

                ToastService.Error("Kayit silinirken bir hata olustu.", "Hata");
            }
        }


    }
}
