@page "/"
@using PasswordStorageApp.Domain.Dtos
@using PasswordStorageApp.Domain.Models
@inject HttpClient HttpClient

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<RadzenButton ButtonStyle="ButtonStyle.Primary" Text="Create" />

@if (accounts is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Simple" AllowSorting="true" PageSize="10" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                    Data="@accounts" ColumnWidth="300px">
        <Columns>
            <RadzenDataGridColumn Property="@nameof(AccountGetAllDto.Id)" Title="ID" TextAlign="TextAlign.Center" />
            <RadzenDataGridColumn Property="@nameof(AccountGetAllDto.Username)" Title="UserName" TextAlign="TextAlign.Center" />
            <RadzenDataGridColumn Property="@nameof(AccountGetAllDto.Password)" Title="Password" TextAlign="TextAlign.Center" />
            <RadzenDataGridColumn Property="@nameof(AccountGetAllDto.Type)" Title="Type" TextAlign="TextAlign.Center" />
            <RadzenDataGridColumn Property="@nameof(AccountGetAllDto.CreatedOn)" Title="Created On" TextAlign="TextAlign.Center" />

            <RadzenDataGridColumn Title="Actions" Frozen="true" Sortable="false" Filterable="false" Width="120px" TextAlign="TextAlign.Center">
                <Template Context="data">
                    <RadzenStack Orientation="Orientation.Horizontal">
                        <RadzenButton ButtonStyle="ButtonStyle.Info" Icon="edit" />
                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" />
                    </RadzenStack>
                </Template>
            </RadzenDataGridColumn>

        </Columns>
    </RadzenDataGrid>

}



@code
{
    private List<AccountGetAllDto> accounts = null;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        accounts = await HttpClient.GetFromJsonAsync<List<AccountGetAllDto>>("Accounts");
    }

    private async Task HandleRemoveClick(AccountGetAllDto account)
    {
        var response = await HttpClient.DeleteAsync($"Accounts/{account.Id}");

        if (response.IsSuccessStatusCode)
        {
            accounts.Remove(account);
        }
        else
        {
            // Handle error
            Console.WriteLine("There was an unexpected error occured.");
        }


    }
}
